## Raspagem das informações de população

Aqui está o processo que eu utilizo para obter as informações de população que eu utilizo para o calculo de percentual vacinado or COVID-19

In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver 
import pandas as pd

driver = webdriver.Chrome(r"C:\Users\mscamargo\Desktop\estudos\estudos\python-scraping\chromedriver") #conector do chrome mas podia ser firefox (se sem o caminho não encontrar seu chrome driver vai

In [2]:
# aqui passamos a URL do site com os dados (to usando o site do MS com os dados de covid)

URL = "https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o"

In [3]:
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
tables = soup.find_all("table")

In [4]:
table = tables[0]
tab_data = [[cell.text for cell in row.find_all(["th","td"])]
                        for row in table.find_all("tr")]
df = pd.DataFrame(tab_data)

In [5]:
df.columns = df.iloc[0,:]
df.drop(index=0,inplace=True)

In [6]:
df.rename(columns = {'Unidade federativa\n': 'Estado','População\n':'Populacao' }, inplace = True)
df = df[['Estado', 'Populacao']]

In [14]:
df['Estado'] = df['Estado'].str.rstrip('\n')
df['Populacao'] = df['Populacao'].str.rstrip('\n')

In [15]:
df.head()

0           Estado   Populacao
1        São Paulo  46 289 333
2     Minas Gerais  21 292 666
3   Rio de Janeiro  17 366 189
4            Bahia  14 930 634
5           Paraná  11 516 840

In [18]:
df['Populacao'] = df['Populacao'].str.replace(" ", "")
df['Populacao'] = df['Populacao'].astype(int)

TypeError: cannot convert the series to <class 'int'>

In [22]:
df.to_csv('populacao_UF.csv', index = False)

In [23]:
df

0                 Estado  Populacao
1              São Paulo   46289333
2           Minas Gerais   21292666
3         Rio de Janeiro   17366189
4                  Bahia   14930634
5                 Paraná   11516840
6      Rio Grande do Sul   11422973
7             Pernambuco    9616621
8                  Ceará    9187103
9                   Pará    8690745
10        Santa Catarina    7252502
11              Maranhão    7114598
12                 Goiás    7113540
13              Amazonas    4207714
14        Espírito Santo    4064052
15               Paraíba    4039277
16   Rio Grande do Norte    3534165
17           Mato Grosso    3526220
18               Alagoas    3351543
19                 Piauí    3281480
20      Distrito Federal    3055149
21    Mato Grosso do Sul    2809394
22               Sergipe    2318822
23              Rondônia    1796460
24             Tocantins    1590248
25                  Acre     894470
26                 Amapá     861773
27               Roraima     631181